.result-paginator__wrapper {
  display: flex;
  justify-content: center;
}

.result-paginator {
  padding: 0.938rem;
}

.result-paginator__list {
  display: flex;
  justify-content: space-between;
}

.result-paginator__list__item {
  width: 1.875rem;
  height: 1.875rem;
  line-height: 1.75rem;
  border-radius: 50%;
  font-size: 0.938rem;
  color: #666;
  text-align: center;
  background: transparent;
  border: 1px solid #E5E5E5;
  margin: 0 0.5rem;

  &:hover {
    background: #E5E5E5;
  }
}

.result-paginator__list__item--active {
  background: #E5E5E5;
}
