// .page-wrapper-wrapper {
//   overflow-y: scroll;
//
//   &::-webkit-scrollbar {
//     display: none;
//   }
// }

.page-wrapper__header {
  width: 100%;
  position: fixed;
  top: 0;
  height: 70px;
  overflow: hidden;
  background-color: #bbb;
}

.page-wrapper__header h2 {
  color: #fff;
  padding: 0 20px;
}

.page-wrapper__content__wrapper {
  padding-top: 70px;
}

.page-wrapper__content {
  padding: 20px 0;
}

.page-wrapper__footer {

}
