.button {
  padding: 0.688rem;
  border-radius: 5px;
}

.green-theme {
  background: #31AE54;

  &:hover {
    background: #888;
  }
}

.grey-theme {
  background: #9E9E9E;

  &:hover {
    background: #888;
  }
}

.red-theme {
  background-color: #F32424;

  &:hover {
    background: #888;
  }
}

.button__text {
  color: #fff;
  font-weight: 700;
}
