.button {
  padding: 11px 100px;
  border-radius: 5px;
}

.green-theme {
  background: #31AE54;
  &:hover {
    background: #888;
  }
}

.grey-theme {
  background: #9E9E9E;
  &:hover {
    background: #888;
  }
}

.red-theme {
  background-color: #F32424;
  &:hover {
    background: #888;
  }
}

.button__text {
  color: #fff;
  font-weight: 700;
  font-size: 16px;
}
